img {
    height: 100vh;
    display: block; 
    margin: 0;
    padding: 0;
}

.maindiv {
    display: flex;
    background-color: black;
}

.rightdiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    color: white;
    width: 100%;
    padding: 20px;
    margin-left: 150px;
}

.rightdiv h1 {
    color: orange;
    margin-left: 5%;
}

.rightdiv .icon {
    font-size: 100px;
    color: orange;
    margin-bottom: 20px;
}
.icondiv
{
   margin-left: 15%;
}